<div class="kremen">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first my-3">
                <img src="assets/img/Webp.net-resizeimage.png" id="icon" alt="User Icon" />
            </div>
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In" (click)="goNext()">
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>

</div>